{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auth</title>
    <link rel="stylesheet" href="{% static '../static/auth.css' %}">
</head>
<body>
<hgroup>
    <h1>ICS Учёт рабочего времени</h1>
    <h3>Войти в систему</h3>
</hgroup>
<form>
    <div class="group">
        <input type="text"><span class="highlight"></span><span class="bar"></span>
        <label>Логин</label>
    </div>
    <div class="group">
        <input type="email"><span class="highlight"></span><span class="bar"></span>
        <label>Пароль</label>
    </div>
    <button type="button" class="button buttonBlue">Войти
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
<footer><a href="http://www.icstech.ru/" target="_blank"><img
        src="https://www.icstech.ru/assets/img/ics.png"></a>
    <p><a href="http://www.icstech.ru/" target="_blank">ICS Group</a></p>
</footer>

</body>
</html>